<title>Board</title>

<mat-card class="main-container">
  
    <div class="container">
        <h2>To do</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, inProgressList, thrashList]"
          class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="box" [ngStyle]="{'border-bottom': 'solid 5px' + item.color}" *ngFor="let item of todo" cdkDrag>
              <div>
                <h2>{{item.name}}</h2>
                <p *ngIf="item.isDescriptionVisible">{{item.description}}</p>
              </div>
              <button class="edit-button" mat-icon-button color="black" aria-label="Example icon button with a home icon" (click)="openEditTaskDialog(item)">
                <mat-icon>more_horiz</mat-icon>
              </button>
          </div>
        </div>
      </div>
    
      <div class="container">
        <h2>In progress</h2>
      
        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[todoList, doneList, thrashList]"
          class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="box" [ngStyle]="{'border-bottom': 'solid 5px' + item.color}" *ngFor="let item of inProgress" cdkDrag>
            <div>
                <h2>{{item.name}}</h2>
                <p *ngIf="item.isDescriptionVisible">{{item.description}}</p>
              </div>
              <button class="edit-button" mat-icon-button color="black" aria-label="Example icon button with a home icon" (click)="openEditTaskDialog(item)">
                <mat-icon>more_horiz</mat-icon>
              </button>
          </div>
          <!-- <mat-card class="card" *ngFor="let item of inProgress" cdkDrag>{{item.name}}</mat-card> -->
        </div>
      </div>
      
      <div class="container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, inProgressList, thrashList]"
          class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="box" [ngStyle]="{'border-bottom': 'solid 5px' + item.color}" *ngFor="let item of done" cdkDrag>
            <div>
                <h2>{{item.name}}</h2>
                <p *ngIf="item.isDescriptionVisible">{{item.description}}</p>
              </div>
              <button class="edit-button" mat-icon-button color="black" aria-label="Example icon button with a home icon" (click)="openEditTaskDialog(item)">
                <mat-icon>more_horiz</mat-icon>
              </button>
          </div>
          
          <!-- <mat-card class="card" *ngFor="let item of done" cdkDrag>{{item.name}}</mat-card> -->
        </div>
      </div>
      
      <div class="add-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="openAddingTaskDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="delete-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a plus one icon" class="btn-shadow"
        cdkDropList
          #thrashList="cdkDropList"
          [cdkDropListData]="thrash"
          (cdkDropListDropped)="drop($event)"
          (click)="openSnackBar('Drag task there to delete it', 'Close', 3000)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
</mat-card>
